<div class="container my-container">
  <div header class='header'>
    <h1><center>Севастопольский национальный технический университет</center></h1>
    <h3><center>Кафедра информационных систем</center></h3>
  </div>
  <table class='study-process table-bordered'>
    <thead>
      <tr>
        <th rowspan=2 class='row-1'>№</th>
        <th rowspan=2 class='row-2'>Дисциплина</th>
        <th rowspan=2 class='row-3'>Кафедра</th>
        <th colspan=6 class='row-4'>Всего часов</th>
      </tr>

      <tr>
        <th>Всего</th>
        <th>Ауд</th>
        <th>Лк</th>
        <th>Лб</th>
        <th>Пр</th>
        <th>СРС</th>
      </tr>
    </thead>
    <script>var a = eval('dsaqw');</script>
    <tbody>
      <tr>
        <td>1</td>
        <td>Экология</td>
        <td>БЖ</td>
        <td>54</td>
        <td>27</td>
        <td>18</td>
        <td>4</td>
        <td>31</td>
        <td>4</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Высшая математика</td>
        <td>ВМ</td>
        <td>57</td>
        <td>71</td>
        <td>27</td>
        <td>41</td>
        <td>12</td>
        <td>258</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Русский язык и культура речи</td>
        <td>НГ иГ</td>
        <td>108</td>
        <td>54</td>
        <td>18</td>
        <td>27</td>
        <td>82</td>
        <td>61</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Основы дискретной математики</td>
        <td>ИС</td>
        <td>216</td>
        <td>139</td>
        <td>87</td>
        <td>0</td>
        <td>52</td>
        <td>77</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Основы программирования и алгоритмические языки ИС</td>
        <td>ИС</td>
        <td>405</td>
        <td>210</td>
        <td>105</td>
        <td>87</td>
        <td>18</td>
        <td>195</td>
      </tr>
    </tbody>
  </table>
</div>
