<div class="about">
  <h1>About</h1>
  <hr> We built TrackJS for developers like us. We are frontend developers and we’re trying to build better applications for our clients and customers. It doesn’t matter how good our UI looks, or how fast our endpoints return if it breaks on Internet Explorer.
  <!-- <h2>
    A Better Way to Track JavaScript Errors
  </h2>
  JavaScript errors aren’t always helpful. We set out to to make it better–to seamlessly track client-side errors with enough information to actually fix them! To accomplish this, we couldn’t limit ourselves to the constraints of the JavaScript Error object
  alone. We built our own event recording system to capture interesting context about your application, the network transactions, and what your visitor was doing on the page. Combine this with context of the DOM and Browser to give you a more-complete
  replay of the error. The TrackJS analytics platform captures millions of errors from around the world and aggregates them into meaningful dashboards and reports to help you understand how your app is changing over time. We separate the signal from the
  noise so you don’t have to. -->

  <h2>Getting Started</h2>
  <hr> {Track:js} is a clientside JavaScript error tracking service. It instruments your web application to show you context your user's errors--in production. {Track:js} goes beyond the error itself, tracking tons of analytics about console events, network
  requests, and user interactions that occured leading up to the error. We call it the Telemetry Timeline, and it's kinda like having an airplane's black box in your webapp.
  <h3>Quick Install</h3>
  1.Paste this script into your page:
  <br>
  <div>
    <img src="/images/installme.png" alt="install.png">
  </div>
  2.Check recent errors and see your error!   ^___^
  <br> There are many more configuration settings available to customize the behavior of the tracker script. All of the options are documented in the Configuration section.
</div>
