<h1>About</h1>
We built TrackJS for developers like us. We are frontend developers and we’re trying to build better applications for our clients and customers. It doesn’t matter how good our UI looks, or how fast our endpoints return if it breaks on Internet Explorer.
<h2>
  <strong>A Better Way to Track JavaScript Errors</strong>
</h2>
JavaScript errors aren’t always helpful. We set out to to make it better–to seamlessly track client-side errors with enough information to actually fix them! To accomplish this, we couldn’t limit ourselves to the constraints of the JavaScript Error object
alone. We built our own event recording system to capture interesting context about your application, the network transactions, and what your visitor was doing on the page. Combine this with context of the DOM and Browser to give you a more-complete replay
of the error. The TrackJS analytics platform captures millions of errors from around the world and aggregates them into meaningful dashboards and reports to help you understand how your app is changing over time. We separate the signal from the noise
so you don’t have to.
