<div class="chart-container">
  <div class="chart" id="errors-and-hits">
    <highchart class="chart" id="pieChart" config="chartPieConfig"></highchart>
  </div>
  <div class="chart" id="errors-and-hits-timeline">
    <highchart id="areaChart" config="chartAreaConfig"></highchart>
  </div>
</div>
<div class="top-statistic">
  <div class="tops" id="top-browsers">
    <h4>Top Browsers</h4>
    <table class="tops-table">
      <thead>
        <tr>
          <th class='row-1'>Browser</th>
          <th class='row-2'>Errors</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Chrome</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tops" id="top-urls"><h4>Top Urls</h4></div>
  <div class="tops" id="top-msgs"><h4>Top Messsages</h4></div>
</div>
