<div class="auth-container">
  <div class="auth-text">{Track.js}</div>
  <button class="auth-btn" ng-click="start()" ng-show="!clicked">Sign In</button>
  <!-- <button ng-show="clicked" class="animate-show auth-btn">Password</button> -->

  <form class="form-5 animate-show clearfix" ng-show="clicked">
    <div class="clearfix">
      <div class="input-bar">
        <input type="text" name="login" placeholder="Username" ng-model="user.login">
        <input type="password" name="password" placeholder="Password" ng-model="user.password">
      </div>
      <button type="submit" name="submit" class="submit sign-in" ng-click="login()">
        <i class="icon-arrow-right"></i>
        <span>Sign in</span>
      </button>
    </div>
    <div class="sign-container" ng-click="signUp()">
      <div>Haven't got account yet?
        <p></p>
        <strong>Register new!</strong>
      </div>
    </div>
  </form>​​​​
</div>
