<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" ui-sref="home">{Track:js}</a>
  </div>
  <div class='user-container' data-animation='am-flip-x' bs-dropdown='dropdown' placement='bottom-right' container='.user-container'>
    <login></login>
    <img alt="user-avatar" class="user-avatar" src="images/avatar.gif">
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li ng-class="{'active': $state.current.name.indexOf('home') >= 0}"><a ui-sref='home'>Home</a>
      </li>
      <li ng-class="{'active': $state.current.name.indexOf('charts') >= 0}"><a ui-sref='charts'>Charts</a>
      </li>
      <li ng-class="{'active': $state.current.name.indexOf('test') >= 0}"><a ui-sref='test'>Feedback</a>
      </li>
    </ul>
  </div>

</nav>
<ui-view></ui-view>
